server:
  port: 8081
spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8082 #http://auth-service:8081
          predicates:
            - Path=/auth/**
        - id: product-service
          uri: http://localhost:8083 #http://product-service:8082
          predicates:
            - Path=/products/**

