server:
  port: 8080
spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://auth-service:8082 #http://localhost:8082 #http://auth-service:8082
          predicates:
            - Path=/auth/**
        - id: product-service
          uri: http://product-service:8083 #http://localhost:8083 #http://product-service:8082
          predicates:
            - Path=/products/**
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include:
          - info
          - health
      path-mapping:
        health: /healthcheck
  endpoint:
    health:
      show-details: ALWAYS
  server:
    port: 8081 #${MANAGEMENT_PORT:9181}
